.result-body {
  display: flex;
  padding: 5rem 0;

  &__wrapper {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    align-items: center;
    margin: 0 2.5rem;
    justify-content: center;
  }

  &__title {
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 3rem;
  }

  &__text {
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2.5rem;
    margin-bottom: 0.8rem;
  }

  &__button {
    padding: 0.8rem 2rem;
    background: white;
    border-radius: 5px;
    border: 0;
    min-width: 180px;
    color: hsl(229, 25%, 31%);
    font-size: 0.8rem;
    text-transform: uppercase;
    font-weight: 600;
    transition: 0.3s;

    &:hover {
      cursor: pointer;
      color: hsl(349, 71%, 52%);
      box-shadow: 0 3px 6px rgba($color: #000000, $alpha: 0.5);
    }
  }
}
