.result-body {
  display: flex;
  padding: 5rem 0;

  &__choice-wrapper {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    align-items: center;
    margin: 0 2.5rem;
    justify-content: center;
  }

  &__result-wrapper {
      @extend .result-body__choice-wrapper;
      opacity: 0;
      width: 0;

      &--shown {
        animation: result 1s ease-in;
        opacity: 1;
        width: 200px;
      }
  }

  &__title {
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 3rem;
    text-align: center;
  }

  &__text {
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2.5rem;
    margin-bottom: 0.8rem;
  }

  &__button {
    padding: 0.8rem 2rem;
    background: white;
    border-radius: 5px;
    border: 0;
    min-width: 180px;
    color: hsl(229, 25%, 31%);
    font-size: 0.8rem;
    text-transform: uppercase;
    font-weight: 600;

    &:hover {
      cursor: pointer;
      color: hsl(349, 71%, 52%);
      box-shadow: 0 3px 6px rgba($color: #000000, $alpha: 0.5);
    }
  }

  @keyframes result {
    0% {
      opacity: 0;
      width: 0;
    }
    50% {
        width: 200px;
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
  }
}
