.app {
  padding: 3rem;

  &__choices {
    margin-top: 5em;
  }
}

.fade {
  &.enter {
    opacity: 0;
  }

  &.enter-active {
    opacity: 1;
    transition: 0.5s
  }

  &.exit {
    opacity: 1;
  }

  &.exit-active {
    opacity: 0;
    transition: 0.5s;
  }
}